@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  transform: rotate(180deg);
  transition: 0.2s ease-in-out;
}

.rotate2 {
  transform: rotate(360deg);
  transition: 0.2s ease-in-out;
}

.thomas-bg {
  background: linear-gradient(180deg, rgba(15, 175, 245, 0.15) 0%, rgba(64, 115, 219, 0.15) 100%);
}